// Overriding Bootstrap variables
// Colors
$primary: #e44848;
$secondary: rgb(173, 173, 173);
$dark: #000;
// Button
$btn-border-radius: 0px;
$btn-padding-x: 31px;
$btn-padding-y: 11px;
$btn-font-size: 14px;
$btn-font-weight: 700;